[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
datetime = "*"
argparse = "*"
tensorflow = "*"
keras = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
